input::placeholder {
    background-color: transparent !important;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .loginFeild{
    margin-top: 100px;
  }
  button{
    background: #4b49ac !important ;
  }
  mat-radio-button{
    color: #4b49ac !important ;

  }