<mat-toolbar color="primary">
  <button mat-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a class="navbar-brand fw-bold" routerLink="/home">
      <h5 class="mb-0 title">HB<span class="leasing text-primary">Leasing</span></h5>
    </a>
  <mat-form-field appearance="fill" class="ms-auto">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search" [formControl]="searchName" (keyup.enter)="search()">
  </mat-form-field>
</mat-toolbar>

<mat-sidenav-container fxLayout="column">
  <mat-sidenav class="mat-elevation-z8" #drawer mode="side" opened>
    <button *ngIf="service.roleMatch(['ADMIN'])" [routerLink]="['/providerDashboard']" mat-button
      class="menu-button">
      <mat-icon>dashboard</mat-icon>
      <span>Provider Dashboard</span>
    </button>
    <mat-divider></mat-divider>

    <button [routerLink]="['/dashboard']" mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
   
    <button *ngIf="service.roleMatch(['ADMIN'])" [routerLink]="['/cars-data']" mat-button class="menu-button">
      <mat-icon>local_offer</mat-icon>
      <span>Vehicules</span>
    </button>
    <button *ngIf="service.roleMatch(['ADMIN'])" [routerLink]="['/demandes-admin']" mat-button class="menu-button">
      <mat-icon>assignment</mat-icon>
      <span>Demandes</span>
    </button>

    <button [routerLink]="['/contact']" mat-button class="menu-button">
      <mat-icon>message</mat-icon>
      <span>Contact us</span>
    </button>
    <button [routerLink]="['/about']" mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>About us</span>
    </button>


    <mat-divider></mat-divider>

    <button mat-button class="menu-button" (click)="onLogout()">
      <mat-icon>lock</mat-icon>
      <span>Log out</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>